:root {
    --navbar-background-color: rgba(0,0,0,0.5);
    --navbar-li-background-color: rgba(0,0,0,0.75);
    --navbar-li-hover-background-color: rgba(0,0,0,0.25);
    --background-gray: rgba(0,0,0,0.75);
}

body {
    background-image: url("../images/body.jpg");

    background-position: right top;
    background-attachment: fixed;
    background-size: cover;

    font-family: 'Play', sans-serif;
}

div.space {
    padding: 250px;
}

div.bottom-space {
    padding: 150px;
}

.navbar-brand > img {
    max-height: 40px;
    margin-top: -10px;
}

.navbar {
    background-color: var(--navbar-background-color);
    background: var(--navbar-background-color);
    border-color: var(--navbar-background-color);
}

.navbar-nav > li > a {
    background-color: var(--navbar-li-background-color);
    font-weight: bold;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
    background-color: var(--navbar-li-hover-background-color) !important;
}

.row.with-paddings {
    padding-top: 50px;
    padding-bottom: 50px;
}

.row img {
    width: 100%;
}

.background-gray {
    background-color: var(--background-gray);
    color: white;
    font-size: 16px;
}

.last-disk {
    padding-top: 100px;
}

.last-disk img {
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 20px 20px rgba(255, 255, 255, 1);
}

#diskBuy {
    max-width: 400px;
    margin: auto;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

#diskBuy a > img {
    max-width: 130px;
}

#diskBuy a > p {
    color: black;
    font-size: 24px;
    font-weight: bold;
}

#diskBuy img.modal-img {
    max-width: 300px;
    padding-bottom: 20px
}

#diskBuy .row {
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 60px;
}

footer {
    color: white;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.33);
}

footer div {
    height: inherit;
}

.copyright {
    position: absolute;
    bottom: 0;
    right: 0;

    margin: 10px;
}

.social-icons i {
    padding-top: 10px;
    padding-right: 3px;
    padding-bottom: 10px;
    padding-left: 3px;
}

a.facebook {
    color: #3b5998;
}

a.vk {
    color: #45668e;
}

a.soundcloud {
    color: #ff3300;
}

a.youtube {
    color: #cd201f;
}